* {
  
  margin: 5px;
  padding: 5px;
  font-family: 'Poppins', sans serif;
}

body {

  display: grid;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
}

.body-container {
  display: grid;
  grid-template-areas: "left right";
  max-width: 900px;
}
